h1
{
	color:black;
	texte-align: center;
}

body
{
	background-color: lightgrey;
}
#JO
{
	width:800px;
	margin:0 auto;
	background-color: lightgrey;
	text-align: center;
	align-content: center;
}
